.card-list {
    justify-content: left;
    margin-left: 3rem;
}

/** Responsiveness **/

@media only screen and (max-width: 600px) {
    .card-list {
        justify-content: center !important;
        margin: 0 !important;
    }
}