.nav-item {
    width: 10rem;
    height: 3rem;
    font-size: 2rem;
    font-weight: bolder;
}

.divider {
    padding: 0.1rem;
    background: #34c896;
}

/** Responsiveness **/

@media only screen and (max-width: 600px) {
    .nav-item {
        margin: 0 !important;
    }
    .nav-dropdown {
        margin: 0 !important;
    }
}